<div class="col-md-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Leave Apply</h4>
      <p class="card-description">Basic nav pills</p>
      <ngb-tabset type="pills" class="pills-success">
        <ngb-tab title="Home">
          <ng-template ngbTabContent>
            <div class="media">
              <img
                class="mr-3 w-25 rounded"
                src="assets/images/samples/300x300/12.jpg"
                alt="sample image"
              />
              <div class="media-body">
                <h5 class="mt-0">I'm doing mental jumping jacks.</h5>
                <p>
                  Only you could make those words cute. Oh I beg to differ, I
                  think we have a lot to discuss. After all, you are a client. I
                  am not a killer. I feel like a jigsaw puzzle missing a piece.
                  And I'm not even sure what the picture should be.
                </p>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Profile">
          <ng-template ngbTabContent>
            <div class="media">
              <img
                class="mr-3 w-25 rounded"
                src="assets/images/samples/300x300/11.jpg"
                alt="sample image"
              />
              <div class="media-body">
                <p>
                  I'm thinking two circus clowns dancing. You? Finding a needle
                  in a haystack isn't hard when every straw is computerized.
                  Tell him time is of the essence. Somehow, I doubt that. You
                  have a good heart, Dexter.
                </p>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Contact">
          <ng-template ngbTabContent>
            <div class="media">
              <img
                class="mr-3 w-25 rounded"
                src="assets/images/samples/300x300/14.jpg"
                alt="sample image"
              />
              <div class="media-body">
                <p>
                  I'm really more an apartment person. This man is a knight in
                  shining armor. Oh I beg to differ, I think we have a lot to
                  discuss. After all, you are a client. You all right, Dexter?
                </p>
                <p>
                  I'm generally confused most of the time. Cops, another
                  community I'm not part of. You're a killer. I catch killers.
                  Hello, Dexter Morgan.
                </p>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
